<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="">
  <title>Digital Design lessons</title>
</head>

<body>
  <div class="help">
    <h1>Навигация по компонентам</h1>
    <nav>
      <ul class="help__menu">
        <li><a href="./components/navigation-panel.html">Навигационная панель</a></li>
        <li><a href="./components/task-element.html">Элемент списка задачи</a></li>
        <li><a href="./components/project-element.html">Элемент списка проектов</a></li>
        <li><a href="./components/project-none.html">Заглушка отсутствия проектов</a></li>
        <li><a href="./components/task-none.html">Заглушка отсутствия задач</a></li>
      </ul>
    </nav>
  </div>
  <script type="module" src="/main.js"></script>
</body>
</html>
