.item {
  display: flex;
  align-items: center;
  gap: spacing(4);
  padding: 0 spacing(2) spacing(2);
  border-bottom: 1px solid var(--border-active);

  &__info {
    width: 100%;
  }

  &__name-wrapper {
    display: flex;
    gap: spacing(2);
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    display: -webkit-box;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    box-orient: vertical;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    gap: spacing(2);
    margin-top: spacing(5);

  }

  &__description-wrapper {
    display: flex;
    gap: spacing(4);
  }

  &__number {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }

  &__state {
    color: var(--font-disabled);
  }

  &__browse-button {
    display: none;
  }

  &:hover &__browse-button {
    display: block;
  }
}
