:root {
  /* base colors */
  --primary-default: #1F75CB;
  --primary-hover: #1068BF;
  --primary-active: #0B5CAD;
  --primary-disabled: #DCDCDE;

  --secondary-default: #FFFFFF;
  --secondary-hover: #ECECEF;
  --secondary-active: #DCDCDE;

  --border-hover: rgba(18, 19, 22, 0.5);
  --border-active: #1C1C1C;
  --border-disabled: rgba(0, 0, 0, 0.15);
  --border-default: rgba(0, 0, 0, 0.15);

  --font-primary: #1C1C1C;
  --font-secondary: #FFFFFF;
  --font-disabled: #8E8E8E;
  --font-placeholder: #D9D9D9;

  --error: #EE4222;
  --bronze: #9E6955;

}